@model IEnumerable<SHWalks.UI.Models.AreaViewModel>

@{
    ViewData["Title"] = "Shiraz Areas";
}

<div class="container mt-4">

    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="display-5 text-dark fw-bold mb-4">Explore Shiraz Areas</h2>

        <a asp-action="Add" class="btn btn-success px-4 fw-semibold shadow-sm">Add New Area</a>
    </div>

    <div class="row row-cols-1 row-cols-md-5 g-2">

        @foreach (var area in Model)
        {
            <div class="col">
                <div class="card h-100 shadow-sm border-1">

                    <img src="@area.ImageUrl" class="card-img-top" 
                    alt="@area.Name" style="height: 160px; object-fit: cover;">

                    <div class="card-body">
                        <h5 class="card-title fw-semibold">@area.Name</h5>

                        <div class="d-flex gap-2 mt-3">
                            <a asp-action="Details" 
                            asp-route-id="@area.Id" 
                            class="btn btn-outline-success btn-sm flex-grow-1">View Walks</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>